body {
    font-family: Arial, sans-serif;
}

#main-menu, .page {
    display: none;
}

#main-menu.active, .page.active {
    display: block;
}

#controls button {
    display: block;
    margin: 5px;
}

#snake-game {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

#coin-count {
    font-weight: bold;
}
